<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a routerLink="/" class="brand-link">
      <span class="brand-text font-weight-light">Petway</span>
    </a>

    <div class="sidebar">

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/orders" class="nav-link">
              <i class="nav-icon fas fa-solid fa-align-justify"></i>
              <p>
                Orders
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/stores" class="nav-link">
              <i class="nav-icon fas fa-solid fa-store"></i>
              <p>
                Stores
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/riders" class="nav-link">
              <i class="nav-icon fas fa-motorcycle"></i>
              <p>
                Riders
              </p>
            </a>
          </li>
          <!-- Only appears to a 'Rider account' (only section available for this entity) -->
          <li class="nav-item">
            <a routerLink="/riders/1" class="nav-link">
              <i class="nav-icon fas fa-motorcycle"></i>
              <p>
                Rider profile
              </p>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </aside>