<div class="p-5">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Staff Accounts
                <a routerLink="/system/staff/new"><button class="btn btn-outline-primary btn-md">Add</button></a>
            </h1>
        </div>
    </div>

    <div class="col-md-12 mt-5">
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color: black;" scope="col">Username</th>
                            <th style="color: black;" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffs">
                            <td style="color: rgb(32, 29, 29);">{{ staff.username }}</td>
                            <td>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                        <button type="button" class="btn btn-outline-danger" (click)="deleteStaff(staff.id)">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
