<div class="p-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
            <h4 class="text-secondary">Summary of your App</h4>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Staff Count</h5>
                            <span class="h2 font-weight-bold mb-0">{{ staff_count }}</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-eye fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">User Count</h5>
                            <span class="h2 font-weight-bold mb-0">{{ user_count }}</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-shopping-cart fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Order Count</h5>
                            <span class="h2 font-weight-bold mb-0">{{ order_count }}</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-comments fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Product Count</h5>
                            <span class="h2 font-weight-bold mb-0">{{ product_count }}</span>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-comments fa-4x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
