<!-- <mat-table [dataSource]="cache">

    <ng container *ngFor="let attribute of object" ...
						
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdAt}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="fetchDays">
      <mat-header-cell *matHeaderCellDef> Fetch Days </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fetchDays}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cacheStatus">
        <mat-header-cell *matHeaderCellDef> Cache Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.cacheStatus}} </mat-cell>
      </ng-container>

    
  

    <mat-header-row *matHeaderRowDef="['createdAt', 'country', 'fetchDays', 'cacheStatus']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['createdAt', 'country', 'fetchDays', 'cacheStatus']"></mat-row>
</mat-table> -->
