img {
  object-fit: cover;
 width: 250px;
 height: 250px;
 background-size: cover;
 background-position: top center;
 border-radius: 50%;
 margin-right: 50px;
background-color: aqua;
}

#avatar:hover {
  opacity: .5;
}

.product {
  width: 90%;
}

.informations {
  background-color: #F8F8F8;
  border-radius: 15px;
  display: flex;
}

.riders-rating {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}