<div class="p-5 container bg-light">
  <div class="row">
    <div class="col-md-12">
      <h1 style="margin-left: 35%">
        Create Category
      </h1>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <div class="col-4 middle">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="category.name">
      </div>

      <button type="submit" class="btn btn-primary" (click)="createCategory()">Submit</button>
    </div>
  </div>
</div>
