<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

  <section class="content">

    <h1>Stores</h1>
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of stores">
          <th scope="row">
            <a class="media-body">
              <button class="mb-0 text-sm">{{store.name}}</button>
            </a>
          </th>
          <td>
            {{store.address}}
          </td>
        </tr>
      </tbody>
    </table>


  </section>

</div>
