<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Stores</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3">
                    <app-info-box [icon]="'fas fa-tag'" [title]="'Total stores'"
                        [description]="'22'"></app-info-box>
                </div>
                <div class="col-md-3">
                    <app-info-box [icon]="'fas fa-heart'"
                        [title]="'Total of products (on stock)'" [description]="'910'"></app-info-box>
                </div>
                <div class="col-md-3">
                    <app-info-box [icon]="'fas fa-cloud-download-alt'"
                        [title]="'Total of products sold'" [description]="'80'"></app-info-box>
                </div>
                <div class="col-md-3">
                    <app-info-box [icon]="'fas fa-comment'" [title]="'Stores revenue'"
                        [description]="'54,000$'"></app-info-box>
                </div>
            </div>
        </div>

        <app-pie-chart></app-pie-chart>

        <p>ideias para pie chart: distribuição por vendas da loja</p>

        <p>gráficos: vendas/revenue por dia numa semana</p>

        <p>aqui pode ter uma table com todas as stores, clicamos e vamos para a pagina com as orders feitas nessa loja, reviews, etc...</p>

        <div class="row" id="cache">

            <!-- <table [dataSource]="table"></table> -->

        </div>

    </section>

</div>