<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

    <div class="container">
        <div class="main-body">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 style="color: black;">John Doe</h4>
                                    <p class="text-secondary mb-1">Rider</p>
                                    <p class="text-muted font-size-sm">Aveiro, Portugal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <h4>Deliveries chart</h4>
                        <app-bar-chart></app-bar-chart>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    John Doe
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    johndoe@gmail.com
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (351) 926712819
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Rua José Saramago nº 9
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card h-100">
                            <h3 style="margin-top: 25px; margin-bottom: 25px;">Global statistics</h3>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-tag'" [title]="'Total rides'"
                                            [description]="'72'"></app-info-box>
                                    </div>
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-heart'" [title]="'My revenue'"
                                            [description]="'6,000$'"></app-info-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-cloud-download-alt'"
                                            [title]="'Delivered products'" [description]="'189'"></app-info-box>
                                    </div>
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-comment'" [title]="'Review rating'"
                                            [description]="'4.5'"></app-info-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-cloud-download-alt'"
                                            [title]="'Cancelled rides'" [description]="'5'"></app-info-box>
                                    </div>
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-comment'" [title]="'Delivery time'"
                                            [description]="'4.5'"></app-info-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-cloud-download-alt'"
                                            [title]="'Travelled distance'" [description]="'189'"></app-info-box>
                                    </div>
                                    <div class="col-md-6">
                                        <app-info-box [icon]="'fas fa-comment'" [title]="'Vehicle type'"
                                            [description]="'Scooter'"></app-info-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
        </table>

        <div class="row" id="cache">

            <!-- <table [dataSource]="table"> </table> -->

        </div>

    </div>
</div>