<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

    <div class="container">
        <div class="main-body">

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 style="color: black;">{{rider.fullname}}</h4>
                                    <p class="text-secondary mb-1">Rider</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{rider.fullname}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{rider.email}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Active</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{rider.isActive}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{rider.address}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Rider deliveries</h1>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Store name</th>
                      <th scope="col">Store address</th>
                      <th scope="col">Destiny address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let delivery of orders">
                      <th scope="row">
                        <a class="media-body">
                          <button class="mb-0 text-sm" routerLink="/orders/{{delivery.id}}">{{delivery.id}}</button>
                        </a>
                      </th>
                      <td>
                        {{delivery.store_name}}
                      </td>
                      <td>
                        {{delivery.store_address}}
                      </td>
                      <td>
                        {{delivery.destiny_address}}
                      </td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
