<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="container center">
        <h1>Rider registration</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <label for="fullname"><b>Full Name</b></label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="Enter Full Name" name="fullname" id="fullname" formControlName="fullname" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="email"><b>Email</b></label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="address"><b>Address</b></label>
            </div>
            <div class="col-md-9">
                <input type="text" placeholder="Enter Address" name="address" id="address" formControlName="address" required>
            </div>
            <div class="col-md-9">
                <input type="password" placeholder="Enter Password" name="password" id="password" formControlName="password" required>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-primary my-4">Sign Up</button>
            </div>
            <div class="col-md-9">
                <input type="password" placeholder="Repeat Password" name="password-repeat" id="password-repeat" formControlName="password_repeat" required>
            </div>
            <p *ngIf="showConfirmPasswordError" class="text-danger">Passwords are not equal</p>
        </div>
        <hr>
        <p *ngIf="showError" class="text-danger">Error. Please fill all fields!</p>
        <div class="row">
            <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
        </div>
</div>
