<div class="p-5">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Create Product
      </h1>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <div class="col-4">
      <div class="form-group">
        <label for="username">Category</label>
        <select class="form-control" type="number" name="category" [(ngModel)]="product.category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="username">Name</label>
        <input class="form-control" type="text" id="name" [(ngModel)]="product.name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" type="text" id="description" cols="40" rows="10" maxlength="200" [(ngModel)]="product.description" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" type="number" step="0.01" id="price" [(ngModel)]="product.price" placeholder="Price">
      </div>

      <button type="submit" class="btn btn-primary" (click)="createProduct()">Submit</button>
    </div>
  </div>
</div>