<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

    <section class="content">

        <h1>Orders</h1>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Store name</th>
                      <th scope="col">Store address</th>
                      <th scope="col">Destiny address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let delivery of orders">
                      <th scope="row">
                        <a class="media-body">
                          <button class="mb-0 text-sm" routerLink="/orders/{{delivery.id}}">{{delivery.id}}</button>
                        </a>
                      </th>
                      <td>
                        {{delivery.store.name}}
                      </td>
                      <td>
                        {{delivery.store.address}}
                      </td>
                      <td>
                        {{delivery.address}}
                      </td>
                    </tr>
                  </tbody>
                </table>

    </section>

</div>