<div class="p-5 container-fluid container bg-light">
  <h1 class="my-2  text-center">Orders</h1>

  <div class="col-md-12 mt-5">
    <div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Identifier</th>
              <th>State</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>       
            <tr *ngFor="let order of orders">
                <td> {{ order.id }} </td>
                <td> {{ order.status }} </td>
                <td> {{ order.eventDate }} </td>

                <td><a routerLink="/order/{{ order.id }}">Ver Detalhes</a></td>
            </tr>      
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
