<!--
<div class="text-center">
    <div class="py-5 text-center d-inline-flex">
        <img src="/assets/static/images/{{ details.id }}.jpg" class="rounded">
        <div id="details" class="text-left ml-5">
            <h2>{{ details.name }}</h2>
            <div>
                <h5>Category</h5>
                <p class="text-secondary">{{ details.category.name }}</p>
            </div>
            <div>
                <h5>Description</h5>
                <p class="text-secondary">{{ details.description }}</p>
            </div>
            <div>
                <h4>{{ details.price }} €</h4>
                <app-add-product [productId]="details.id"></app-add-product>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
-->

<div class="text-center">
  <div class="py-5 text-center d-inline-flex">
      <img src="/assets/static/images/1.jpg" class="rounded">
      <div id="details" class="text-left ml-5">
          <h2>ROYAL CANIN CHIHUAHUA ADULT</h2>
          <div>
            <h5>Shop</h5>
            <p class="text-secondary">Pet City</p>
          </div>
          <div>
              <h5>Category</h5>
              <p class="text-secondary">Food</p>
          </div>
          <div>
              <h5>Description</h5>
              <p class="text-secondary">Wet food.</p>
          </div>
          <div>
              <h4>1,11 €</h4>
              <app-add-product [productId]="1"></app-add-product>
          </div>
      </div>
      <div class="clearfix"> </div>
  </div>
</div>
