<nav class="navbar navbar-expand navbar-dark navbar-light">

    <ul class="navbar-nav ml-auto">

        <button routerLink="/login"
            class="nav-item d-none d-sm-inline-block btn btn-primary bg-transparent shadow-none "><i
                class="fas fa-sign-in-alt"></i>  Login</button>
        <button routerLink="/register"
            class="nav-item d-none d-sm-inline-block btn btn-primary bg-transparent shadow-none "><i
                class="fas fa-user-plus"></i>  Sign Up</button>
        <button routerLink="/login"
            class="nav-item d-none d-sm-inline-block btn btn-primary bg-transparent shadow-none "><i
                class="fas fa-sign-out-alt"></i>  Logout</button>
    </ul>

</nav>