<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container center">
        <h1>Login   </h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <label for="email"><b>Email</b></label>
            </div>
            <div class="col-md-9">
                <input type="text" name="email" id="email" formControlName="email" required>
            </div>
            <p *ngIf="loginForm.value.email.valid == false">Invalid email.</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="password"><b>Password</b></label>
            </div>
            <div class="col-md-9">
                <input type="password" name="password" id="password" formControlName="password" required>
            </div>
            <p *ngIf="loginForm.value.password.valid == false">Invalid password.</p>
        </div>
        <hr>
        <div class="row">
            <p>You don't have an account? <a routerLink="/register">Register as a new rider</a>.</p>
        </div>
        <button type="submit" class="registerbtn">Login</button>
    </div>
</form>