<div *ngIf="product" class="fit-content">
  <h5>{{ product.name }}</h5>
  <div class="col-md-4 agileinfo_single_left">
    <img id="example" src="/assets/static/images/{{ product.id }}.jpg" alt=" " class="img-responsive" />
  </div>
  <div class="col-md-8 agileinfo_single_right">
    <div class="w3agile_description">
      <h4>Category :</h4>
      <p>{{ product.category.name }}</p>
    </div>
    <div class="w3agile_description">
      <h4>Description :</h4>
      <p>{{ product.description }}</p>
    </div>
    <div class="snipcart-item block">
      <div class="snipcart-thumb agileinfo_single_right_snipcart">
        <h4>{{ product.price  }}€</h4>
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
