<div class="p-5 container bg-light">
  <div class="row">
    <div class="col-md-12" style="display: flex; justify-content: space-between;">
      <h1>
        All Categories
      </h1>
      <a style="margin-top: 1%;" routerLink="/system/categories/new"><button
          class="btn btn-outline-primary btn-md">Add</button></a>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="color: black;" scope="col">Id</th>
              <th style="color: black;" scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <th style="color: rgb(32, 29, 29);" scope="row">{{ category.id }}</th>
              <td style="color: rgb(32, 29, 29);">{{ category.name }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
