<app-menu></app-menu>

<app-navbar></app-navbar>

<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Global Statistics</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6">
          <app-info-box [icon]="'fas fa-tag'" [title]="'Total riders'" [description]="totalRiders.toString()">
          </app-info-box>
        </div>
        <div class="col-md-6">
          <app-info-box [icon]="'fas fa-heart'" [title]="'Active riders'" [description]="activeRiders.toString()">
          </app-info-box>
        </div>
      </div>

      <h1>Riders</h1>
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rider of riders">
            <th scope="row">
              <a class="media-body">
                <button class="mb-0 text-sm" routerLink="/riders/{{rider.email}}">{{rider.fullname}}</button>
              </a>
            </th>
            <td>
              {{rider.email}}
            </td>
            <td>
              {{rider.address}}
            </td>
            <td>
              {{rider.isActive}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

</div>